body{
    margin:0;
    font-family: Arial;
}

.post-list{
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,293px));
    grid-gap:28px;
    justify-content: center;
}
.post{
    cursor:pointer;
    position: relative;
    display: block;
    margin:0;
    
}
.post-image{
    margin:0;
}

.post-image img{
    width: 200px;
    height: 200px;
    vertical-align: top;
    margin:0;
}

.post-overlay{
    background: rgba(0,0,0,.4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color:white;
    text-align: center;
    width: 200px;
    height: 200px;
}

.post:hover .post-overlay{
    display: flex;
}


.post-likes, 
.post-comments{
 width: 80px;
 margin: 15px;
 font-weight: bold;
 text-align: center;
}